
body { background-color: black; }
body {color: white;}

.menu {
    color:aquamarine;
    list-style: none;
    width: 25%;
    float:left;
}

#main-header {
    width: 50;
    text-align: center;
}

body {
    width: 960px;
    margin: 0px auto;
}

figure {
    width: 290px;
    display: inline-block;
    margin: 0px;
}



img {
    width: 250px;
    }

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  